
@{
    ViewBag.Title = "Introduction to the Tutorial";
    Layout = "~/Views/Shared/_TutorialLayout.cshtml";
}
<h1>Tutorial: Create a Typing Test Application</h1>

<p>This tutorial demonstrates how to create a Typing Test application based on the ASP.NET MVC framework using C#.</p>
<p><b>MVC</b> is a pattern for developing applications that are well architected, testable and easy to maintain. MVC-based applications contain:</p>
<ul>
    <li> Models: Classes that represent the data of the application and that use validation logic to enforce business rules for that data.</li>
    <li>Views: Template files that your application uses to dynamically generate HTML responses.</li>
    <li>Controllers: Classes that handle incoming browser requests, retrieve model data, and then specify view templates that return a response to the browser.</li>
</ul>

<h3>What you will build</h3>
<p>The Typing Test application is used to evaluate typing speed and quality through the analysis of the entered text. The final application view will be similar to the following.</p>
<img src="~/Content/Tutorial/1.png" alt="Tutorial main view" />
<p class="imageDescr">Tutorial main view</p>
<p>The test results will look like the following, except with different numbers.</p>
<img src="~/Content/Tutorial/2.png" alt="Tutorial result view" />
<p class="imageDescr">Tutorial result view</p>
<p>To download the completed version of the test, see the app on <a href="https://github.com/Rina7503/TypingTestApplication">github.com</a>.</p>

<h3>What you will learn</h3>
<p>In this tutorial, you will learn how to do the following.</p>
<ul>
    <li>Create a MVC view using a layout page.</li>
    <li>Display data passing from the Controller to the view using the Razor syntax.</li>
    <li>Provide the JavaScript classes interaction using callbacks.</li>
    <li>Send data from the JavaScript code to the view.</li>
</ul>

<h3>Requirements</h3>
<p>Before you start following this tutorial, please check out the requirements below.</p>
<ul>
    <li>Visual Studio 2013 or higher version installed on your computer.</li>
    <li>Basic knowledge of C#, ASP.NET MVC, HTML, CSS, JavaScript, jQuery.</li>
</ul>

