h1 {
    font-size: 30px !important;
    color: #428bca;
    margin: 25px 0 !important;
}
#tutorial-link{
    font-size: 18px;
    line-height: 20px;
    color:#ffffff;
}
.navbar-brand {
    color: #ffffff!important;
}
.col-sm-8 > img {
    border: lightgrey 1px solid;
    max-width: 100%;
    margin: 20px 0;
}

.list-group-item.Selected {
    background-color: whitesmoke;
    color: #428bca;
}

#links {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

#prevLink {
    width: 50%;
    float: left;
    padding-right: 5%;
    text-align: right;
    border-right: lightgrey solid 1px;
}

#nextLink {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 5%;
}

/*стили оформления статьи*/
h3{
    font-size: 18px !important;
    font-weight:bold;
}
#article p{
    margin:12px 0;
}

code{
    color: #2178bd !important;
    background-color: #eeeeee !important;
}
#article li pre {
    padding-left:30px;
 }
ul.params {
    padding:0;
}
li.params {
    list-style-type: none;
}
li.params p:first-child{
    padding:0 !important;
}
li.params p:nth-child(2), li.params p:nth-child(3){
    padding-left:30px !important;
}
p.paramTitle{
    font-style:italic;
    font-weight:bold;
    margin-left:0 !important;
}
li.params p {
    margin-left:30px;
}

/*bootstrap corrections*/
dd {
    margin-bottom: 20px !important;
}

/*template corrections*/
.dl-horizontal dt {
    margin-bottom: 20px;
}
.imageDescr{
    text-indent:0 !important;
    padding-bottom:10px;
    /*font-style:italic;*/
}
img {
    border: 2px solid #cccccc !important;
    max-width: 100% !important;
    margin: 20px 0 10px 0 !important;
}
#buttonImage {
    margin-top:0 !important;
    border:none !important;
}
pre {
    background-color:#eee;
    height: auto;
    max-height: 200px;
    margin:0 0 1em;
    padding:.5em 1em;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

pre.numberedCode {
  margin:0 0 1em;
  padding:.5em 1em;
}

pre.numberedCode .line-number {
  font:normal normal 12px/14px "Courier New",Courier,Monospace;
  color:black;
  display:block;
}

pre.numberedCode .line-number {
  float:left;
  line-height: 1.48em;
  font-size: 0.95em;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}

pre.numberedCode .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre.numberedCode .cl {
  display:block;
  clear:both;
}
